# Make Artist Data for Part 2

In [260]:
import pandas as pd
#df = pd.read_csv('data/beatles_test.csv')
#df = pd.read_csv('data/year2009_test.csv')
df = pd.read_csv('data/year1962_test.csv')
#df = pd.read_csv('data/year2012_2021_test.csv')

df

,Year,Place,Title,Artist,Featuring,Title_url,Released,Genre 1,Genre 2,Genre 3,Length,Label,Total Labels,Writer 1,Writer 2,Youtube
0,1962,1,Stranger on the Shore,Acker Bilk,NaN,/wiki/Stranger_on_the_Shore,1961.0,Easy listening,Jazz,NaN,2:52,Columbia,2.0,Acker Bilk,Robert Mellin,NaN
1,1962,2,I Can't Stop Loving You,Ray Charles,NaN,/wiki/I_Can%27t_Stop_Loving_You,1957.0,Country,NaN,NaN,2:37,RCA Victor,1.0,NaN,NaN,NaN
2,1962,3,Mashed Potato Time,Dee Dee Sharp,NaN,/wiki/Mashed_Potato_Time,1962.0,R&b,Pop,NaN,2:27,Cameo,1.0,Brian Holland,Daniel Rey,NaN
3,1962,4,Roses Are Red (My Love),Bobby Vinton,NaN,/wiki/Roses_Are_Red_(My_Love),1962.0,Pop,NaN,NaN,2:38,Epic,1.0,Paul Evans,NaN,NaN
4,1962,5,The Stripper,David Rose,NaN,/wiki/The_Stripper,1962.0,Jazz,NaN,NaN,1:57,MGM,1.0,David Rose,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1962,96,"(Girls, Girls, Girls) Made to Love",Eddie Hodges,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,1962,97,Town Without Pity,Gene Pitney,NaN,/wiki/Town_Without_Pity_(song),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,1962,98,If I Had a Hammer,"Peter, Paul",Mary,/wiki/If_I_Had_a_Hammer,1950.0,Folk,NaN,NaN,NaN,Hootenanny,1.0,Pete Seeger,Lee Hays,NaN
98,1962,99,I Wish That We Were Married,Ronnie & the Hi-Lites,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,1962,100,Surfin' Safari,The Beach Boys,NaN,/wiki/Surfin%27_Safari_(song),1962.0,Surf rock,NaN,NaN,2:05,Capitol,1.0,Brian Wilson,Mike Love,NaN

In [261]:
artist = df['Artist'].dropna().tolist()
featuring = df['Featuring'].dropna().tolist()
writer1 = df['Writer 1'].dropna().tolist()
writer2 = df['Writer 2'].dropna().tolist()
all_people = [*artist, *featuring, *writer1, *writer2 ]
all_people = sorted(set(all_people))
len(all_people)

162

In [262]:
#df[df['Artist'] == 'Max']


## Find similarities  (OBS: Maybe make it do it one year at the time! Only comparing people from the same year)
### GoaI: Find out if it is the same person under another name?
I wanna make a training model that I can train with my data. I will make a bunch of list with the following names:
- interesting_pairs # Example: 'Beyoncé' and 'Beyoncé Knowles'. I want this count as the same person. The algorithm should find a bunch of names that could be a potential pseudonym or slightly longer/shorter name.
- approved_list # When ever i manually approve a match, i want the program to remember, so I don't have to do it again.
- ignoring_list # Common names like Max, might pop up alot. So this list automatically remove them from future checks

It should result in a list that I can apply the proper changes to my dataset. So the singer / writers get the real credit.

In [263]:
# Not implemented yet!
other_connections = [['Lennon','Lennon-McCartney','John Lennon'],['McCartney','Lennon-McCartney','John McCartney']]

interesting_pairs = []

for x in all_people:
    for y in all_people:
        if(x in y and x != y):
            interesting_pairs.append([x,y])
            #print(x, " is similar to ", y)

len(interesting_pairs)

5

In [264]:
# OBS: dont run this, unless you want to reset the lists!
#ignoring_list = [["Train","Meghan Trainor"]]
#approved_list = [['Beyoncé', 'Beyoncé Knowles']]
#list_to_change = []

In [265]:
ignoring_list = load_ignoring_list()
approved_list = load_approved_list()
list_to_change = []

In [266]:
print('Interesting pairs before first sorting: ',len(interesting_pairs))

for x in interesting_pairs:
    if(x in ignoring_list):
        interesting_pairs.remove(x)
    elif(x in approved_list):
        interesting_pairs.remove(x)
        list_to_change.append(x)

print('Interesting pairs affter first sorting: ',len(interesting_pairs))

Interesting pairs before first sorting:  5
Interesting pairs affter first sorting:  5

In [267]:
print("Interesting pairs:",len(interesting_pairs))
print("Approved Words list:",len(approved_list))
print("Ignored Words list:",len(ignoring_list))
print("List ready for change:",len(list_to_change))

Interesting pairs: 5
Approved Words list: 47
Ignored Words list: 2
List ready for change: 0

In [269]:
print('y = yes, n = no, m = maybe')
for pair in interesting_pairs.copy(): # Can't remove from the same list as we are iterating. So we make a copy
    answer = input(f'Is: {pair[0]} the same as: {pair[1]}?')
    if(answer.lower() == 'y'):
        approved_list.append(pair)
        interesting_pairs.remove(pair)
        list_to_change.append(pair)
    elif(answer.lower() == 'n'):
        ignoring_list.append(pair)
        interesting_pairs.remove(pair) 
    elif(answer.lower() == 'm'):
        print('Maybe. Not implemented yet')
    else:
        print('Wrong input')

print('Interesting pairs after second sorting: ',len(interesting_pairs))

y = yes, n = no, m = maybe
Is: Dick the same as: Dickey Lee?m
Maybe. Not implemented yet
Is: Joey Dee the same as: Joey Dee and the Starliters?m
Maybe. Not implemented yet
Is: Mary the same as: Mary Wells?m
Maybe. Not implemented yet
Interesting pairs after second sorting:  3

In [270]:
print("Interesting pairs:",len(interesting_pairs))
print("Approved:",len(approved_list))
print("Ignored:",len(ignoring_list))
print("List ready for change:",len(list_to_change))

Interesting pairs: 3
Approved: 49
Ignored: 2
List ready for change: 2

In [255]:
import pandas as pd
import csv

def save_approved_list(list):
    df = DataFrame(list,columns=['First','Second'])
    df.to_csv('data/similar/approved_list.csv', index = False, header=True)
    
def save_ignoring_list(list):
    df = DataFrame(list,columns=['First','Second'])
    df.to_csv('data/similar/ignoring_list.csv', index = False, header=True)


def load_approved_list():
    with open('data/similar/approved_list.csv', 'r') as f: 
        return list(csv.reader(f))[1:] # Skip header

def load_ignoring_list():
    with open('data/similar/ignoring_list.csv', 'r') as f: 
        return list(csv.reader(f))[1:] # Skip header

In [256]:
save_approved_list(approved_list)
save_ignoring_list(ignoring_list)

In [259]:
print("Size of approved list:",len(load_approved_list()))

Size of approved list: 47

In [93]:
def convert_artist_data_into_df(artist):
    data_list = []
    for name in all_people:
        main_artist = len(df[df['Artist'] == name])
        featuring_artist = len(df[df['Featuring'] == name])
        writer = len(df[df['Writer 1'] == name]) + len(df[df['Writer 2'] == name])
        data_list.append([name, main_artist, featuring_artist, writer])
    return pd.DataFrame(data_list, columns= ['Name', 'Main Artist' ,'Featuring Artist', 'Writer'] )


df_to_csv = convert_artist_data_into_df(all_people).sort_values("Name", ascending=True).reset_index(drop=True)
#df_to_csv = convert_artist_data_into_df(all_people).sort_values("Main Artist", ascending=False).reset_index(drop=True)

df_to_csv

                     Name  Main Artist  Featuring Artist  Writer
0                2 Chainz            2                 2       0
1               21 Savage            2                 4       0
2                24kGoldn            2                 0       0
3                 42 Dugg            0                 1       0
4     5 Seconds of Summer            4                 0       0
...                   ...          ...               ...     ...
1275                 Zedd            4                 1       0
1276               busbee            0                 0       2
1277         iLoveMemphis            1                 0       0
1278         soFLY & Nius            0                 0       1
1279            will.i.am            2                 1       0

[1280 rows x 4 columns]

In [94]:
df_to_csv.to_csv ('data/artist_2012_2021_test.csv', index = False, header=True)

In [271]:
df_artists = pd.read_csv('data/artist_2012_2021_test.csv')
df_artists

                     Name  Main Artist  Featuring Artist  Writer
0                2 Chainz            2                 2       0
1               21 Savage            2                 4       0
2                24kGoldn            2                 0       0
3                 42 Dugg            0                 1       0
4     5 Seconds of Summer            4                 0       0
...                   ...          ...               ...     ...
1275                 Zedd            4                 1       0
1276               busbee            0                 0       2
1277         iLoveMemphis            1                 0       0
1278         soFLY & Nius            0                 0       1
1279            will.i.am            2                 1       0

[1280 rows x 4 columns]