# Exercise for the 3rd course week

## Ex 1 Classes
1. Create 3 classes: Student, DataSheet and Course
2. A student has a data_sheet and a data_sheet has multiple courses in particular order
3. Each course has name, classroom, teacher, ETCS and optional grade if course is taken.
4. In Student update `__init__()` so that a Student can be initiated with name, gender, data_sheet and image_url
5. In DataSheet create a method to get_grades_as_list()
6. In student create a method: get_avg_grade()
7. Create a function that can generate n number of students with random: name, gender, courses (from a fixed list of course names), grades, img_url
   1. Let the function write the result to a csv file with format stud_name, course_name, teacher, ,gender, ects, classroom, grade, img_url
7. Read student data into a list of Students from a csv file (Each student can appear on multiple lines): 
   1. loop through the list and print each student with name, img_url and avg_grade.
   2. sort the list by avg_grade
   3. create a bar chart with student_name on x and avg_grade on y-axis
8. Make a method on Student class that can show progression of the study in % (add up ECTS from all passed courses divided by total of 150 total points (equivalent to 5 semesters))
9. Show a bar chart of distribution of study progression on x-axis and number of students in each category on y-axis. (e.g. make 10 categories from 0-100%)

Extra: Make the Datasheet class iterable so that next(data_sheet) will return the next course in the list

## Ex 2 Exceptions (extra)
1. Create a function that can take a list of students and return the 3 students closest to completing their study.
2. If list is shorter than 3 raise your own custom exception (NotEnoughStudentsException)
3. Create another function that can create a csv file with 3 students closest to completion
   1. If an exception is raised write an appropriate message to the file

## Ex 3 Plotting (extra)
1. Create a function that can take a list of students and show a pie chart of how students are distributed in ECTS percentage categories (10%, 20%, ...)
2. create a function that can take a list of students and show how many students have taken each course (bar chart)
   1. create a method on student that can return a list of courses
3. make the figure show males and females in different colors for each course (display 2 datasets in same figure)

In [1]:
from my_modules.ex3 import assignment1 as a1

courses = []
courses.append(a1.Course("Math", "101", "Johnson, B", "200", 10))
courses.append(a1.Course("English", "505", "Bidden, J", "250", 7))
courses.append(a1.Course("Biology", "331", "Frederiksen, M", "150", 12))
courses.append(a1.Course("German", "222", "Schultz, M", "200", 6))

ds = a1.DataSheet(courses)

student = a1.Student("Mads Mikkelsen", "male", ds, "https://thumbs.dreamstime.com/z/happy-university-college-student-thumbs-up-15010463.jpg" )

## 5) In DataSheet create a method to get_grades_as_list()

In [2]:
print("Grades: ", student.data_sheet.get_grades_as_list())

Grades:  [10, 7, 12, 6]

## 6) In student create a method: get_avg_grade()

In [5]:
print("Average grade: ", student.get_avg_grade())

Average grade:  8.75

## 7) Create a function that can generate n number of students with random: name, gender, courses (from a fixed list of course names), grades, img_url
- Let the function write the result to a csv file with format stud_name, course_name, teacher, ,gender, ects, classroom, grade, img_url

In [3]:
from my_modules.ex3.ex3_data import *

print(MALE_NAMES)
print(COURSES)
print(GRADES)
print(PIC_URLS_MALES)

['Allan', 'Bo', 'Charlie', 'Demetri', 'Eric', 'Freddy', 'George', 'Henry', 'Igor', 'Jerry', 'Kaleb', 'Larry', 'Manny', 'Nicholas', 'Obie', 'Peter', 'Quay', 'Rudy', 'Steve', 'Timmy', 'Umar', 'Victor', 'Woody', 'Xander', 'Yannis', 'Zasou']
[['Math', '111', 'John Watkins', 10, 0], ['English', '505', 'Jane Foster', 8, 0], ['Biology', '331', 'Liz Johnson', 8, 0], ['German', '222', 'Michael Schultze', 6, 0], ['Chemistry', '325', 'Reese Witherspoon', 8, 0], ['French', '225', 'Lina Jenkins', 6, 0], ['Spanish', '200', 'Jerry Larson', 6, 0]]
[-3, 0, 2, 4, 7, 10, 12]
['https://img.freepik.com/free-photo/front-view-male-student-dark-t-shirt-yellow-backpack-holding-files-books-smiling-light-blue-wall_140725-46715.jpg?w=2000', 'https://image.shutterstock.com/image-photo/portrait-smiling-young-college-student-260nw-1192615495.jpg', 'https://st.depositphotos.com/1199142/1784/i/600/depositphotos_17840989-stock-photo-young-happy-student-carrying-books.jpg', 'https://www.kindpng.com/picc/m/57-574905_black-college-student-png-transparent-png.png', 'https://media.istockphoto.com/photos/happy-smiling-student-with-his-notebook-and-backpack-picture-id452257843?k=20&m=452257843&s=612x612&w=0&h=CO5tQouEz8Gwo0t0A4AK3EGss0TDDFFB4oahJHqjRqs=', 'https://thumbs.dreamstime.com/b/photo-image-portrait-funny-attractive-cute-young-asian-student-white-shirt-smiling-pointing-forward-side-view-isolated-104697224.jpg']

### my_modules/ex3/tools.py 
```python
from random import randint
from my_modules.ex3.ex3_data import *
from my_modules.ex3.assignment1 import *


def get_rand(lst):
    """Return random item from attached list"""
    return lst[randint(1, len(lst)) - 1]


def get_rand_datasheet():
    """Generates a datasheet with minimum 3 courses (max 5)"""
    courses = []
    # Finding 3 - 5 unique courses
    while len(courses) <= randint(3, 5) - 1:
        c = get_rand(COURSES)
        # Check if course already has been selected
        if not c in courses:
            courses.append(c)
            
    # Convert to Course objects and apply random grade for each.    
    courses = [Course(c[0], c[1], c[2], c[3], assign_random_grades()) for c in courses]
    # Convert to DataSheet object 
    new_ds = DataSheet(courses)    
    return new_ds


def create_n_number_of_students(n):
    students = []
    for i in range(n):
        name = f'{get_rand(MALE_NAMES)} {get_rand(MALE_NAMES)}'
        datasheet = get_rand_datasheet()
        student = Student(name, "male", datasheet, get_rand(PIC_URLS_MALES))
        students.append(student)
    return students


def assign_random_grades():
    # TODO: Make it less likely to return failing grades
    return get_rand(GRADES)
```

In [1]:
from my_modules.ex3.tools import *

students_list = create_n_number_of_students(3)

print(students_list)

[Student('Kaleb Manny', 'male', DataSheet([Course('Chemistry', '325', 'Reese Witherspoon', 8, 0), Course('Spanish', '200', 'Jerry Larson', 6, 4), Course('German', '222', 'Michael Schultze', 6, 2)]), 'https://thumbs.dreamstime.com/b/photo-image-portrait-funny-attractive-cute-young-asian-student-white-shirt-smiling-pointing-forward-side-view-isolated-104697224.jpg'), Student('Obie Bo', 'male', DataSheet([Course('Spanish', '200', 'Jerry Larson', 6, 2), Course('Math', '111', 'John Watkins', 10, 12), Course('German', '222', 'Michael Schultze', 6, 2), Course('Biology', '331', 'Liz Johnson', 8, 7)]), 'https://image.shutterstock.com/image-photo/portrait-smiling-young-college-student-260nw-1192615495.jpg'), Student('Xander Victor', 'male', DataSheet([Course('Spanish', '200', 'Jerry Larson', 6, -3), Course('French', '225', 'Lina Jenkins', 6, 0), Course('Math', '111', 'John Watkins', 10, -3)]), 'https://media.istockphoto.com/photos/happy-smiling-student-with-his-notebook-and-backpack-picture-id452257843?k=20&m=452257843&s=612x612&w=0&h=CO5tQouEz8Gwo0t0A4AK3EGss0TDDFFB4oahJHqjRqs=')]

## 8) Read student data into a list of Students from a csv file (Each student can appear on multiple lines):

In [1]:
from my_modules.ex3.file_handler import *
from my_modules.ex3.tools import *

sl = create_n_number_of_students(10)

ds = []

for s in sl:
    #print(s.data_sheet)
    ds.append(DataSheet(s.data_sheet))
        

write_students_to_csv_file("students.csv", sl)

students.csv been added to data folder

### Save a csv file with a line for each course the students have:

In [2]:
from my_modules.ex3.file_handler import *
from my_modules.ex3.tools import *


sl = create_n_number_of_students(10)

write_students_to_csv_file_by_courses("students_courses.csv", sl)

# print(sl[0].data_sheet.courses)

students_courses.csv been added to data folder

In [2]:
from my_modules.ex3.file_handler import *


students_read = read_students_from_csv_file_by_courses("data/students_courses.csv")
for s in students_read:
    print(s.data_sheet.courses[0])

First time:  Peter Kaleb
First time:  Quay Obie
First time:  Quay Steve
First time:  Allan Yannis
First time:  Umar Peter
First time:  Demetri Igor
First time:  Demetri Quay
First time:  Henry Igor
First time:  Allan Steve
First time:  Henry Nicholas
Spanish, 200, Jerry Larson, 6, 4
French, 225, Lina Jenkins, 6, 0
Math, 111, John Watkins, 10, 4
Chemistry, 325, Reese Witherspoon, 8, 4
Math, 111, John Watkins, 10, -3
German, 222, Michael Schultze, 6, -3
French, 225, Lina Jenkins, 6, 10
English, 505, Jane Foster, 8, 7
Chemistry, 325, Reese Witherspoon, 8, 10
German, 222, Michael Schultze, 6, 7

### A) loop through the list and print each student with name, img_url and avg_grade.

In [3]:
from my_modules.ex3.file_handler import *

students_read = read_students_from_csv_file("data/students.csv")
print(students_read)

#ds = students_read[0].data_sheet

#print(ds)

#for s in students_read:
 #   avg_grade = 5
  #  print(f'Name: {s.name}, Image: {s.image_url} Avg grade: {}')

AttributeError: 'str' object has no attribute 'name'

In [ ]:
import csv
from my_modules.ex3.assignment1 import *

def write_student_courses_to_csv(output_file, lst):
    
    students = lst

### B) sort the list by avg_grade
create a bar chart with student_name on x and avg_grade on y-axis

### C) create a bar chart with student_name on x and avg_grade on y-axis

In [2]:
import csv
from turtle import st
from my_modules.ex3.assignment1 import *


            
def read_students(input_file):
    student_objs = []
    with open(input_file) as stream:
        reader = csv.reader(stream, delimiter=";")
        names = set()
        
        
        students = {}
        
        rows = [row for row in reader]
        all_courses = []
        for row in rows[1:]:
            # First create the student, with empty datasheet
            if not row[0] in names:
                student_objs.append(Student(row[0], row[1], [], row[7]))
                print("First time: ", row[0])
            # Adds name to list, so we dont recreate more than one of each
            names.add(row[0])
            
            # Create the course
            new_course = Course(row[2], row[3], row[4], row[5], row[6])
            # Find the student
            for so in student_objs:
                if so.name == row[0]:
                    so.data_sheet.courses.append(new_course)
            
    

        #print(len(student_objs))
        
        #for key, value in students.items():
        #    print(value)
        for s in student_objs:
            print(s)

        
            
read_students("data/students_courses.csv")

First time:  Peter Kaleb
First time:  Quay Obie
First time:  Quay Steve
First time:  Allan Yannis
First time:  Umar Peter
First time:  Demetri Igor
First time:  Demetri Quay
First time:  Henry Igor
First time:  Allan Steve
First time:  Henry Nicholas
Peter Kaleb, male, [Course('Spanish', '200', 'Jerry Larson', '6', '4'), Course('Chemistry', '325', 'Reese Witherspoon', '8', '-3'), Course('English', '505', 'Jane Foster', '8', '4')], https://img.freepik.com/free-photo/front-view-male-student-dark-t-shirt-yellow-backpack-holding-files-books-smiling-light-blue-wall_140725-46715.jpg?w=2000
Quay Obie, male, [Course('French', '225', 'Lina Jenkins', '6', '0'), Course('English', '505', 'Jane Foster', '8', '10'), Course('Spanish', '200', 'Jerry Larson', '6', '12')], https://media.istockphoto.com/photos/happy-smiling-student-with-his-notebook-and-backpack-picture-id452257843?k=20&m=452257843&s=612x612&w=0&h=CO5tQouEz8Gwo0t0A4AK3EGss0TDDFFB4oahJHqjRqs=
Quay Steve, male, [Course('Math', '111', 'John Watkins', '10', '4'), Course('French', '225', 'Lina Jenkins', '6', '10'), Course('German', '222', 'Michael Schultze', '6', '-3'), Course('Chemistry', '325', 'Reese Witherspoon', '8', '10'), Course('Biology', '331', 'Liz Johnson', '8', '10')], https://img.freepik.com/free-photo/front-view-male-student-dark-t-shirt-yellow-backpack-holding-files-books-smiling-light-blue-wall_140725-46715.jpg?w=2000
Allan Yannis, male, [Course('Chemistry', '325', 'Reese Witherspoon', '8', '4'), Course('Spanish', '200', 'Jerry Larson', '6', '0'), Course('English', '505', 'Jane Foster', '8', '0'), Course('Math', '111', 'John Watkins', '10', '7')], https://media.istockphoto.com/photos/happy-smiling-student-with-his-notebook-and-backpack-picture-id452257843?k=20&m=452257843&s=612x612&w=0&h=CO5tQouEz8Gwo0t0A4AK3EGss0TDDFFB4oahJHqjRqs=
Umar Peter, male, [Course('Math', '111', 'John Watkins', '10', '-3'), Course('French', '225', 'Lina Jenkins', '6', '12'), Course('Chemistry', '325', 'Reese Witherspoon', '8', '2')], https://img.freepik.com/free-photo/front-view-male-student-dark-t-shirt-yellow-backpack-holding-files-books-smiling-light-blue-wall_140725-46715.jpg?w=2000
Demetri Igor, male, [Course('German', '222', 'Michael Schultze', '6', '-3'), Course('Spanish', '200', 'Jerry Larson', '6', '10'), Course('French', '225', 'Lina Jenkins', '6', '12'), Course('Biology', '331', 'Liz Johnson', '8', '10')], https://media.istockphoto.com/photos/happy-smiling-student-with-his-notebook-and-backpack-picture-id452257843?k=20&m=452257843&s=612x612&w=0&h=CO5tQouEz8Gwo0t0A4AK3EGss0TDDFFB4oahJHqjRqs=
Demetri Quay, male, [Course('French', '225', 'Lina Jenkins', '6', '10'), Course('English', '505', 'Jane Foster', '8', '-3'), Course('Spanish', '200', 'Jerry Larson', '6', '7'), Course('Chemistry', '325', 'Reese Witherspoon', '8', '-3')], https://thumbs.dreamstime.com/b/photo-image-portrait-funny-attractive-cute-young-asian-student-white-shirt-smiling-pointing-forward-side-view-isolated-104697224.jpg
Henry Igor, male, [Course('English', '505', 'Jane Foster', '8', '7'), Course('Chemistry', '325', 'Reese Witherspoon', '8', '7'), Course('Math', '111', 'John Watkins', '10', '4'), Course('Biology', '331', 'Liz Johnson', '8', '0')], https://thumbs.dreamstime.com/b/photo-image-portrait-funny-attractive-cute-young-asian-student-white-shirt-smiling-pointing-forward-side-view-isolated-104697224.jpg
Allan Steve, male, [Course('Chemistry', '325', 'Reese Witherspoon', '8', '10'), Course('Spanish', '200', 'Jerry Larson', '6', '10'), Course('Math', '111', 'John Watkins', '10', '2')], https://st.depositphotos.com/1199142/1784/i/600/depositphotos_17840989-stock-photo-young-happy-student-carrying-books.jpg
Henry Nicholas, male, [Course('German', '222', 'Michael Schultze', '6', '7'), Course('French', '225', 'Lina Jenkins', '6', '12'), Course('Math', '111', 'John Watkins', '10', '12'), Course('English', '505', 'Jane Foster', '8', '2'), Course('Chemistry', '325', 'Reese Witherspoon', '8', '4')], https://image.shutterstock.com/image-photo/portrait-smiling-young-college-student-260nw-1192615495.jpg

In [ ]:
    index = 0
    for i in range(len(students)):
        print()
        if not students[i].keys() == students[index].keys():
            
            index += 1
        else:
            print(students[i].keys(), students[index].keys())
            print("same name", index)
        #print(students[i])