# Classification
## Part 1:

### Use K-Nearest Neighbour on AirBnb [data](https://www.kaggle.com/datasets/dgomonov/new-york-city-airbnb-open-data?resource=download)
- The data file is already downloaded to: data/AB_NYC_2019.csv. Load it into pandas dataframe
- Purpose of this exercise is to use K-Neares-Neighbor algorithm to make a binary classification in order to estimate if the price of a specific Airbnb accommodation will be above or below the median, 
- First we will try to do it based on only 2 features: longitude and latitude. 
- Next we will see if we can improve accuracy with using more features
- As independent variables, we have location, neighborhood and the number of reviews the acommodation has on Airbnb.

1. Use the following imports:
```python
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, LabelBinarizer
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import auc, roc_curve, confusion_matrix
```

In [7]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, LabelBinarizer
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import auc, roc_curve, confusion_matrix

pd.options.mode.chained_assignment = None  # default='warn'

#### 2. Get the data into a pandas dataframe

In [9]:
df = pd.read_csv("../data/AB_NYC_2019.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

#### 3. Add a column to the dataframe: "is_cheap", that contains boolean values for the price being below median. Hint: DataFrame has a median() method. This column contains our target data: y

In [14]:
median = df['price'].median()
df['is_cheap'] = df['price']<median
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,is_cheap
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,False
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355,False
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365,False
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194,True
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0,True

#### 4. Create a Classifier model with `KNeighborsClassifier()` and give it an arbitrary number for the n_neighbors argument

In [17]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors=3)

#### 5. Create input data: X as a DataFrame containing only longitude and latitude.

In [20]:
df_ll = df[['longitude', 'latitude']]
df_ll

       longitude  latitude
0      -73.97237  40.64749
1      -73.98377  40.75362
2      -73.94190  40.80902
3      -73.95976  40.68514
4      -73.94399  40.79851
...          ...       ...
48890  -73.94995  40.67853
48891  -73.93317  40.70184
48892  -73.94867  40.81475
48893  -73.99112  40.75751
48894  -73.98933  40.76404

[48895 rows x 2 columns]

#### 5. Based on X and y above, split data into training and test data using train_test_split() method with 33% test data.

In [24]:
X = df_ll
y = df['is_cheap']

In [27]:
# Split into training and test set
X_train, X_test, y_train, y_test = train_test_split(
             X, y, test_size = 0.33, random_state=42)

In [30]:
k = 36 
knn = KNeighborsClassifier(n_neighbors=k)

#### 6. Fit the model with the training data. Hint: `knn_class.fit(X_train, y_train)`

In [33]:
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=36)

#### 7. And make predictions with the test data. Hint: `knn_class.predict(X_test)`

In [39]:
# Predict on dataset which model has not seen before
print(y_test)
print(knn.predict(X_test))
print(knn.score(X_test, y_test))

y_pred = knn.predict(X_test)

43813    False
32734    False
25276    False
36084     True
17736    False
         ...
48365    False
6892     False
48774     True
46301    False
27973     True
Name: is_cheap, Length: 24448, dtype: bool
[False False  True ...  True  True  True]
0.7290166884816754

#### 8. Now we have our target and our predictions and we need to compare them to see how well our model have done. For this we ca use the roc_curve method like this: `fpr, tpr, _ = roc_curve(y_test, y_pred, pos_label=True)` where pos_label lets the algorithm know that our data uses boolean in the target column. This gives us the True Positive Rate (TPR) and the False Positive Rate (FPR). ROC Curve works by plotting the fraction of true positives out of the positives (TPR = true positive rate) vs. the fraction of false positives out of the negatives (FPR = false positive rate), at various threshold settings. Finally we use the `auc(fpr,tpr)` function to get an AUC_Score (This score is 1 when the model had 100% correct predictions and less than 1 for less perfect accuracy score. The result should be around `.7` which is not a great prediction accuracy rate, but its a start and we can try to improve it by adding more data features to the model.
Study: [ROC curves typically feature true positive rate on the Y axis, and false positive rate on the X axis. This means that the top left corner of the plot is the “ideal” point - a false positive rate of zero, and a true positive rate of one. This is not very realistic, but it does mean that a larger area under the curve (AUC) is usually better.](https://scikit-learn.org/stable/auto_examples/model_selection/plot_roc.html#sphx-glr-auto-examples-model-selection-plot-roc-py).

In [40]:
fpr, tpr, _ = roc_curve(y_test, y_pred, pos_label=True)

In [41]:
auc(fpr,tpr)

0.7290115130613851

#### 9. Now lets add some more columns from the dataframe: 
    1. First we need to One-Hot encode the data of 3 columns:['neighbourhood','neighbourhood_group','room_type']. Hint: Use pandas get_dummies method (see example in the clustering with titanic notebook.

In [47]:
#df = pd.get_dummies(df, columns=['neighbourhood','neighbourhood_group','room_type'])

In [48]:
df.head()

,id,name,host_id,host_name,latitude,longitude,price,minimum_nights,number_of_reviews,last_review,...,neighbourhood_Woodrow,neighbourhood_Woodside,neighbourhood_group_Bronx,neighbourhood_group_Brooklyn,neighbourhood_group_Manhattan,neighbourhood_group_Queens,neighbourhood_group_Staten Island,room_type_Entire home/apt,room_type_Private room,room_type_Shared room
0,2539,Clean & quiet apt home by the park,2787,John,40.64749,-73.97237,149,1,9,2018-10-19,...,0,0,0,1,0,0,0,0,1,0
1,2595,Skylit Midtown Castle,2845,Jennifer,40.75362,-73.98377,225,1,45,2019-05-21,...,0,0,0,0,1,0,0,1,0,0
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,40.80902,-73.94190,150,3,0,NaN,...,0,0,0,0,1,0,0,0,1,0
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,40.68514,-73.95976,89,1,270,2019-07-05,...,0,0,0,1,0,0,0,1,0,0
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,40.79851,-73.94399,80,10,9,2018-11-19,...,0,0,0,0,1,0,0,1,0,0

    2. With these new columns in the dataframe do the train_test_split operation again to get 33% test data and 67% training data for both input data X and target/labels y.

In [69]:
df_nb = df.iloc[:,14:]


X = df_nb
y = df['is_cheap']

# Split into training and test set
X_train, X_test, y_train, y_test = train_test_split(
             X, y, test_size = 0.33, random_state=42)

In [74]:
X_train

,neighbourhood_Allerton,neighbourhood_Arden Heights,neighbourhood_Arrochar,neighbourhood_Arverne,neighbourhood_Astoria,neighbourhood_Bath Beach,neighbourhood_Battery Park City,neighbourhood_Bay Ridge,neighbourhood_Bay Terrace,"neighbourhood_Bay Terrace, Staten Island",...,neighbourhood_Woodrow,neighbourhood_Woodside,neighbourhood_group_Bronx,neighbourhood_group_Brooklyn,neighbourhood_group_Manhattan,neighbourhood_group_Queens,neighbourhood_group_Staten Island,room_type_Entire home/apt,room_type_Private room,room_type_Shared room
35706,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2434,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
44725,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
32341,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
9648,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11284,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
44732,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
38158,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
860,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
15795,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0

In [70]:
k = 36 
knn = KNeighborsClassifier(n_neighbors=k)

In [71]:
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=36)

In [72]:
# Predict on dataset which model has not seen before
print(y_test)
print(knn.predict(X_test))
print(knn.score(X_test, y_test))

y_pred = knn.predict(X_test)

879       True
44383     True
15394    False
43230    False
16332    False
         ...
5162     False
33355    False
39797    False
47800     True
8832      True
Name: is_cheap, Length: 16136, dtype: bool
[False  True False ...  True  True  True]
0.8256073376301438

In [73]:
fpr, tpr, _ = roc_curve(y_test, y_pred, pos_label=True)
auc(fpr,tpr)

0.8257042947289536

    3. Normalize both training and test data with [StandardScaler](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html). Hint: `StandardScaler().fit(X_train[independent_variables])` where `independent_variables` is a list of all the columns we want to use in the model (There are many so a quick way to get the names of those columns that we One-Hot encoded is by using a list comprehension like this: `[col for col in df if col.startswith('neighbourhood') or col.startswith('room_type')]`. Then just add the 'latitude', 'longitude','number_of_reviews' and 'reviews_per_month' columns.

    4. Now get the normalized training data with something like: `X_train_norm = np.nan_to_num(scaler.transform(X_train[independent_variables]))` where np.nan_to_num() is used to swap NAN for zeros.

    5. Do the same with the test data

    6. Now create a `KNeighborsClassifier` model like last time and fit it with the training data and the training targets

    7. Get predictions on the test data and produce the AUC score like last time. Is it improved?

    8. When we create our KneighborsClassifier model we can try it out with different number of neighbors and with different ways to measure the distance between the neighbors like this `KNeighborsClassifier(n_neighbors=k, metric=dist)`. [These are the different available methods for measuring distance.](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.pairwise.distance_metrics.html#sklearn.metrics.pairwise.distance_metrics). Now create a function that can take k and dist (as shown above) and can print an AUC score based on the data we used above and on the 2 arguments.

    9. Run the function with all combinations of n_neighbor values of 2, 4, 8, 32, 64 and with metric values of 'manhattan', 'euclidean', 'haversine','cosine'.

    10. Are there any noticable differences?

## Part 2 Neural Network

## Tutorial on [Cifar10](https://www.kaggle.com/code/roblexnana/cifar10-with-cnn-for-beginer)